<?xml version="1.0" encoding="UTF-8"?>
<suite name="UI Test Automation Suite" parallel="false">
    <listeners>
        <listener class-name="com.uiplayground.automation.core.reporting.TestListener"/>
    </listeners>
    
    <test name="Homepage Tests">
        <classes>
            <class name="com.uiplayground.automation.runners.HomePageTestRunner"/>
        </classes>
    </test>
</suite>
